*{
  padding: 0;
  margin: 0;
  width: 100%;
  height: fit-content;
  font-family: 'poppins';
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav{
  height: 10vh;
  width: 100%;
  top: 0;
  display: flex;
  position: sticky;
  align-items: center;
  background-color: #000000;
}
nav ul{
display: flex;
align-items: center;
color: #f9f9f9;
}
nav ul h2{
  margin-left: 8px;
  color: #F73D93;
}
nav ul h2:hover{
  color: #D89216;
  transition: 0.8s;
  cursor: pointer;
}
nav ul li{
  padding: 20px;
  list-style: none;
  font-weight: 900;
  font-size: 18px;
  color: #f9f9f9;
}
nav ul li:hover{
  cursor: pointer;
  font-size: 20px;
  color: #F73D93;
  transition: 0.6s;
}
.back{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/BACk.jpg");
  background-repeat: no-repeat;
  /* background-position-x: 12rem; */
  background-size: cover;
}
.helo{
  height: 80vh;
  width: 100%;
  display: flex;
  color: #000000;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.helo p{
  /* 43 */
  font-size: 60px;
  font-weight: 900;
  font-family: 'Times New Roman';
}
.helo button{
  height: 10vh;
  width: 170px;
  border: 3px solid #000000;
  display: flex;
  background-color: transparent;
  align-items:center;
  /* justify-content: center; */
  background-image: url("../src/search.png");
  background-repeat: no-repeat;
  background-size:50px;
  font-size: 25px;
  background-color: #FFE1E1;
  font-weight: 900;
  background-position: 0in;
  background-position: right;
  background-position-x: 7rem;
  margin: 6px;
  border-radius: 50px;
}
.helo button:hover{
  opacity: 2px;
  transition: 0.5s;
  color: #f9f9f9;
  background-color: #F73D93;
  cursor: pointer;
}
.helo button h4{
  margin-left: -15px;
  font-size: 25px;
}
#search{
  height: 7vh;
  width: 220px;
  border: none;
  display: flex;
  padding: 15px;
  font-weight: 900;
  font-size: 15px;
  align-items:center;
  border-radius: 50px;
  background-color:#FFE1E1;
  /* background-image: url("./search.png"); */
  /* background-position-x: right; */
  /* background-size: 28px; */
  /* background-position: 11.40rem; */
  /* background-repeat: no-repeat; */
  margin: 100px;
}
#search::placeholder{
  font-size: 20px;
  padding: 5px;
}
span{
  color: #F73D93;
  font-family: 'Times New Roman';
}
#span-1{
  font-size: 30px;
}
#span-1:hover{
  font-size: 40px;
  transition: 0.5s;
}
.helo h1{  
  font-size: 50px;
}
.b-1{
  height: 50vh;
  width: 100%;
  display: flex;
  font-size: 22px;
  color: #f9f9f9;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}


/* Contenta WORKING FLOW */

.c-1{
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-color:#000000;
  background-position-x: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("./c-1.jpg");
}
.c-1 h1{
  font-size: 45px;
  color: #f9f9f9;
}

/* CONTENTB WORKING FLOW */

.c-2{
  height: 350vh;
  width: 100%;
  z-index: -1;
  display: flex;
  color: #f9f9f9;
  position: relative;
  text-align: center;
  flex-direction: column;
  background-color: #000000;
}
.c-2 h1{
  margin-top: 100px;
  font-weight: 900;
  font-size: 50px;
}
/* CONTAINERPIC-1 WORKING FLOW */
.Conatainerpic-1{
  height: 50vh;
  width: 100%;
  display: flex; 
  margin-top: 100px;
  align-items: flex-end;
  justify-content: center;
  clip-path: circle(50% at 50% 50%);
  background-color: #D89216;
}
.Conatainerpic-1 img{
  height: 313px;
  width: 313px;
}

/* AD WORKING FLOW */

.ad{
  height: 25vh;
  width: 100%;
  /* background-image: url("../src/assets/ad.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #D89216;
}
.ad h1{
  font-weight: 900;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
}
.ad h2{
  font-weight: 900;
  font-size: 28px;
  color: #FFE1E1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}